<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}
Login-Form
{% endblock %}
    </title>
        {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'student/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    </head>

    <body id="body">

<img src="{% static 'student/images/logo.png' %}" alt="logo" width="100%">
        <div id=login_div> 
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
	
	<select id="select">
	<option>-----------</option>
	<option>Student</option>
	<option>ExamCell-Admin</option>
	<option>Consession-Admin</option>
	</select>
	
  <button type="submit" class="btn btn-primary">Login</button>
</form>
            </div>
    </body>
</html>
