{% extends 'index3.html' %}
{% block body %}
 <title> {% block title %}Request-Form{% endblock %}</title>
<script>
function overlay(n) {
	field = document.getElementById("hidden_field");
	field.value=n;
}
</script>

<br>
 <div class="col-sm-12 col-md-12">
        <form>
            <input type="Date" name="q" placeholder="Enter date...">
            <button class="btn btn-success">Search</button>
        </form>

            <div class="panel panel-default">
                    <h3>All Requests Who Apply For Consession Form</h3>



                    <table class="table">
                        <thead>
                        <tr>
							<th>S.no.</th>
                            <th>Name</th>
				<th>Admission No</th>
                            <th>Last Ticket From</th>
                            <th>Last Ticket To</th>
                            <th>Last Ticket Type</th>
                            <th>Last Ticket Period</th>
                            <th>Last Certificate No.</th>
                            <th>Last Ticket No.</th>
                            <th>From Date</th>
                            
                            <th>Status</th>



                        </tr>
                        {% for a in crequest %}
                        <tr>
                        <td>
                           {{ forloop.counter }}
                        </td>
                        <td>
                            {{ a.user.profile.full_name }} 

                        </td>
			<td>
                            {{ a.user.profile.admission_no }} 

                        </td>
                        <td>
                            {{ a.last_ticket_from }}
                        </td>
                        <td>
                            {{ a.last_ticket_to }}
                        </td>
                        <td>
                            {{ a.last_ticket_type }}
                        </td>
                         <td>
                            {{ a.last_ticket_period }}
                        </td>
                        <td>
                            {{ a.last_certificate_no }}
                        </td>
                        <td>
                            {{ a.last_ticket_no }}
                        </td>
                       
                        <td>
                            {{ a.from_date }}
                        </td>
			
                        <td>
									{%if a.status == 3 %}
										<button type="button" class="badge badge-primary" data-toggle="modal" data-target="#myModal" onclick='overlay({{ a.id }})'><span class="glyphicon glyphicon-th"></span>&nbsp; Respond</button>
									{%elif a.status == 1 %}
										<span class="badge badge-success">Accepted</span>
									{%elif a.status == 2 %}
										<span class="badge badge-danger">Rejected</span>
									{% endif %}

                                </td>


                        {% endfor %}
                        </thead>
                        <tbody>







                        </tbody>
                    </table>

						<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>

						  </div>
						  <div class="modal-body">
							<form action="{% url 'response' %}" method="post" style="display: inline;">
                                        {% csrf_token %}

                                        <input type="hidden" name="request_id" id="hidden_field" value="" />
										<hr>
                                        <button type="submit" name="accept" value="accept" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Accept
                                        </button>
										<button type="submit" name="reject" value="reject" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-ok"></span>&nbsp; Reject
                                        </button>
                            </form>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						  </div>
						</div>

					  </div>
					</div>
            </div>

        </div>


{% endblock %}
