<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}

  <title> {% block title %}Home-Page{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'student/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!--<script src="alert/dist/sweetalert-dev.js"></script>-->
  <!--<link rel="stylesheet" href="alert/dist/sweetalert.css">-->

</head>
<body>
    
    

<img src="{% static 'student/images/logo2.jpg' %}" alt="logo" width="100%" id="logoimg">
        
        <img id="profile_image" src="{{ user.profile.image.url }}">

<h3><b><font color="white" id="username">{{ user.profile.full_name }}</font></b></h3>
<h4><b><font color="white" id="branchname">{{ user.profile.branch }} </font></b></h4>
        
<div class="navbar navbar-expand-md bg-dark navbar-dark " id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	<b>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
       Transportation
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/railwaypass">Railway Pass</a>
      
        
      </div>
    </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Examination
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/Regular_Examination">CBGS/CBCS Regular Examination</a>
        <a class="dropdown-item" href="/ATKT_Examination">CBGS/CBCS ATKT Examination</a>
        
      </div>
    </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Revaluation
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item bg-blue" href="/Regular_Revaluation">CBGS/CBCS Regular Revaluation</a>
        <a class="dropdown-item" href="/ATKT_Revaluation">CBGS/CBCS ATKT Revaluation</a>
        
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Photocopy
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="Regular_PhotoCopy">CBGS/CBCS Regular Photocopy</a>
        <a class="dropdown-item" href="ATKT_PhotoCopy">CBGS/CBCS ATKT Photocopy</a>
        
      </div>
    </li>
          <li class="nav-item ">
              <a class="nav-link" href="/hallticket">Hall-ticket</a></li>
     
        
          <li class="nav-item ">
              <a class="nav-link" href="/result">Results</a></li>

          <li class="nav-item ">
              <a class="nav-link" href="/notice">Notice</a></li>     
        
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next=/">Logout</a>
        </li>

    </ul>
	</b>
  </div>  
</div></b>
<br>





{% block body %}
{% endblock %}
</body>
</html>



