<div>
		<table class="auto-style46" cellspacing="0" cellpadding="1" rules="rows" id="PageContentPlaceHolder_Subjects_GridView" style="background-color:White;border-color:#336666;border-width:3px;border-style:Double;width:850px;border-collapse:collapse;">
			<tbody><tr align="left" style="color:White;background-color:#336666;font-weight:bold;">
				<th scope="col">No.</th><th scope="col">SubjectName</th>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_0">MEC401    </span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_0">APPLIED MATHEMATICS-IV</span>
                            </td>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_1">MEC402    </span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_1">FLUID MECHANICS</span>
                            </td>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_2">MEC403    </span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_2">INDUSTRIAL ELECTRONICS</span>
                            </td>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_3">MEC404    </span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_3">PRODUCTION PROCESS-II</span>
                            </td>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_4">MEC405    </span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_4">KINEMATICS OF MACHINERY</span>
                            </td>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_5">MEL401</span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_5">DATABASE AND INFORMATION RETRIEVAL</span>
                            </td>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_6">MEL402</span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_6">FLUID MECHANICS</span>
                            </td>
			</tr><tr style="color:#333333;background-color:White;">
				<td style="height:26px;width:120px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubCode_Label_7">MEL403</span>
                            </td><td style="height:26px;">
                                <span id="PageContentPlaceHolder_Subjects_GridView_SubName_Label_7">INDUSTRIAL ELECTRONICS</span>
                            </td>
			
			
			</tr>
		</tbody></table>
	</div>